.device-view-container {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .device-view-card {
    width: 100%;

    .custom-control-label {
      width: 100%;
      &>span {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}